			.btn {
				border: 1px solid white;
			}

			.horse {
				margin-bottom: 20px;
			}
			
			.horse .foo{
				width: 2rem;
				height: 2rem;
				background-color: #fff;
				border-radius: 0.375rem;
			}			
			.icon_selected {
				background-color: #ffc107;
				width: 2rem;
				height: 2rem;
				border-radius: 0.375rem;
			}

			#selected-horse, #winning-horse {
				margin-top: 20px;
				font-weight: bold;
				font-size: 2em;
			}
			#winning-horse {
				color: green;
			}
			#selected-horse {
				color: red;				
				border: 2px dotted red;
				border-radius: 10px/15px;
				height: 70px;
				background: #ffc107;
			}
			#winning-horse {
				border: 2px dotted green;
				border-radius: 10px/15px;
				height: 70px;
			}
			.video-description {
				border-radius: 0.375rem;
				background-color:#fff;		
				padding: 5px;
			}
			#video-thumbnails {
				border-radius: 0.375rem;
				background-color:#424242;
			}
			.video-meta {
				color:#fff;
			}
			.video-title {
				color:#fff;
			}
			#bkg-track {
			  width:100%;
			  position:absolute;
			  height:100px;
			  z-index:2;
			}
			#bkg-track div{
			  width:100px;
			  height:100px;
			  position:absolute;
			  border:1px solid;
			  opacity:0.5;
			}
			.slide {
				background: url("background-image: url('images/race_track_1.gif')") repeat-x;
			}
			#track-holder {
				z-index: 0;
				position:absolute;
			}
			
			.wrap {
				overflow: hidden;
			}
